<section class="insert">
  <h3>Modo usuario</h3>
  <h5>Hacer el test manualmente.</h5>
  <a href="/user"><button type="button" class="btn btn-primary btn-lg">ENTRAR</button></a>
</section>
<section class="get">
  <h3>Modo simulacion</h3>
  <h5>Usuarios de prueba a servicio mediante datos de una API + Chance.js.</h5>
  <a href="/simulation"><button type="button" class="btn btn-warning btn-lg">ENTRAR</button></a>
</section>
<section class="cube cube-section">
  <h3>Modo OLAP</h3>
  <h5>Permite visualizar el cubo y exportar a formato EXCEL/PDF.</h5>
  <a href="http://localhost:8080/pivot4j-analytics-0.9/"><button type="button" class="btn btn-secundary btn-lg">ENTRAR</button></a>
</section>
<section class="credits">
  <h3>Modo creditos</h3>
  <h5>Gracias a...</h5>
  <div class="alert alert-success"><a href="https://mondrian.pentaho.com/documentation/olap.php">Mondrian (Pentaho)</a> (Core: OLAP, MDX)</div>
  <div class="alert alert-success"><a href="https://community.hitachivantara.com/docs/DOC-1009931-downloads">Schema Workbench (Pentaho)</a> (Manejador de esquemas OLAP)</div>
  <div class="alert alert-success"><a href="http://www.pivot4j.org/">Pivot4J</a> (Herramienta de analisis de cubos OLAP)</div>
</section>
