<section class="get full-section">
  <h3>Modo simulacion</h3>
    <form action="/start-simulation" method="post">
      <div class="form-row">
        <div class="col-3 form-group">
          <label for="randomvalue">Cuantos usuarios desea generar?</label>
          <input type="text" class="form-control" id="randomvalue" name="randomvalue">
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">INICIAR</button>
    </form>
</section>
